.footer {
  background: #f37928;
  color: #fff;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;

  .para {
    padding: 8px;
  }

  .footer-icons {
    .icon {
      padding: 8px;
      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 425px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .footer-icons {
      display: flex;

      .icon {
        padding: 0 6px;
      }
    }
  }
}